body{
  display: inline-block;
}
h2 {
  background-color:black;
  color:red;
}

#one {
  font:helvetica;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.9);
}
a:link{
  color:gold;

}
a:visited{
  color:green;

}
a:hover{
  background-color: black;
  color:white;
}
a:focus{
  font-style:italic;
}
a:active{
 text-decoration: line-through;
}
.trendy h2{
  font-size: 100px;
  text-align: center;
}
.animals{
  height:50%;
  width:25%;
}
img{
  border: 2em solid white;
  padding:1em;
  margin:2em;
  align:center;
}
